<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/projects">Projects</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutme">About Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" href="https://github.com/shawngiroux">Github</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/shawngiroux/">LinkedIn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
  </li>
</ul>
